@model IEnumerable<InventoryService.ViewModels.VM_Item>

@{
    ViewBag.Title = "ItemList";
}
@using InventoryService.Enums
<h2>Wszystkie produkty</h2>

<p>
    <a href="/Item/CreateNewItem" class="glyphicon glyphicon-plus aAddNewItem">
        
    </a>
    <span>Dodaj nowy produkt</span>
  
</p>
<p>
    <a href="/Item/CreatePdf" class="glyphicon glyphicon-arrow-down aAddNewItem">

    </a>
    <span>Pobierz raport</span>

</p>
<table class="table table-bordered">
    <tr>
        <th>
            Kod produktu
        </th>
        <th>
            Nazwa produktu
        </th>
        <th>
            Jm
        </th>
        <th>
            Oczekiwana ilość
        </th>
        <th>
            Akcja
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="tdItemNumber">
                @Html.DisplayFor(modelItem => item.ItemNumber)
            </td>
            <td class="tdItemName">
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td class="tdUnit">
                @item.Unit.GetDisplayName().ToString()
            </td>
            <td class="tdExpectedAmount">
                @Html.DisplayFor(modelItem => item.ExpectedAmount)
            </td>
            <td>
                <a href="/Item/EditItem/@item.Id" class="glyphicon glyphicon-pencil aEditItem" />
                <a href="/Item/DeleteItem/@item.Id" class="glyphicon glyphicon-trash aDeleteItem"/>
            </td>
        </tr>
    }


</table>

